/* --------------------首页飞机操作样式-------------------- */
.planeOpt kbd {
    margin: 0 3px;
    padding: 3px 5px;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
    background-color: #f8f8f8;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), 0 2px 1px 0 rgba(255, 255, 255, .6) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25), 0 2px 1px 0 rgba(255, 255, 255, .6) inset;
    color: #34495e;
    white-space: nowrap;
    font-weight: 600;
    font-size: .9em;
    font-family: Monaco, 'Ubuntu Mono', monospace;
    line-height: 1em;
}

.planeOpt button {
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    background: #49b1f5;
    color: white;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s;
}

.planeOpt button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.planeOpt button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.planeOpt button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.planeOpt button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.planeOpt button:hover span {
    transform: translateX(5em);
}

.planeOpt button:active {
    transform: scale(0.95);
}