			canvas {
				display: block;
				margin: 50px auto;
				box-shadow: -2px -2px 2px #efefef, 5px 5px 5px #b9b9b9;
				cursor: pointer;
			}

			.btn-wrap {
				display: flex;
				flex-direction: row;
				justify-content: center;
			}

			.btn-wrap div {
				margin: 0 10px;
			}

			#restart span {
				display: inline-block;
				padding: 1px 20px;
				color: #ffffff;
				background-color: #9a959a;
				border-radius: 5px;
				cursor: pointer;
			}

			#goback span {
				display: inline-block;
				padding: 1px 20px;
				color: #ffffff;
				background-color: #9a959a;
				border-radius: 5px;
				cursor: pointer;
			}


			#return span {
				display: inline-block;
				padding: 1px 20px;
				color: #ffffff;
				background-color: #9a959a;
				border-radius: 5px;
				cursor: pointer;
			}

			#result-wrap {
				text-align: center;
			}

			#btn-wrap {
				position: absolute;
				top: 100px;
				right: 250px;
			}

			#btn-wrap div {
				margin-top: 20px;
			}

			body,
			td,
			th {
				color: #FFFFFF;
			}

			body {
				background-color: #326b86;
			}